body {
  font-family: 'Arial', sans-serif;
  background-color: #e6f7ff; /* Light blue background color */
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/free-vector/flat-design-weather-effects_23-2149131035.jpg?w=1380&t=st=1701304302~exp=1701304902~hmac=0cfe250cece95ada4ec164118a6b6db3e299087ab9d151e73249c460fa89b29b.jpg'); /* Replace 'your-background-image.jpg' with the actual image file */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #000; /* Black text color */
  font-weight: bold; /* Bold font weight */
}

label {
  display: block;
  margin-bottom: 8px;
  color: #000; /* Black text color */
  font-weight: bold; /* Bold font weight */
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  color: #000; /* Black text color */
  font-weight: bold; /* Bold font weight */
}
